doctype html
html
  head
    title dance with sabbir
    block scripts
    block style 
  body
    nav#navber 
        ul
            div#logo 
                img(src="/static/img/logo1.png.png")
                | SDA
            li #[a(href="/") HOME ] 
            li #[a(href="/") ABOUT] 
            li #[a(href="/contact ") CONTACT US]
            li #[a(href="/") call US]
    block content
    block foot
    footer#footer 
     p copyright 2021 sabbirddanceacedemy.com
      